/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
 * #require bootstrap.min
 *# require bootstrap-responsive.min
 *= require jquery.facebox
 *= require admin/tree_viewer
 *= require jquery.ui.datepicker
*/

.sessao{
background-color: #eee;
padding: 0 10px 0 10px;
margin-bottom: 10px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.sessao h4{
	font-family: "sans-serif";
	text-transform:uppercase;
}
#area-logos{
	margin-top: 10px;
}
.thumbnail{
	height: 176px !important;
	width:  176px !important;
}
.thumbnail img{
	height: 150px !important;
	width:  150px !important;
}
.thumbnail p{
	margin-top: 5px !important;
}

fieldset legend{
	font-family: "sans-serif";
	text-transform:uppercase;
	font-size: 15px;
}

#error_explanation h2{
	font-size: 15px;
	font-weight: normal;
}

#evaluate .legend{
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;;
}

#evaluate .content{
  font-size: 15px;
  margin-right: 20px;
}

#evaluate div{
    margin: 10px 5px;
}

.sessao{
	background-color: #eee;
	padding: 0 10px 0 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.pagination span {
    border: 1px solid #ddd;
}

.pagination span {
    margin: 0 5px 0 0;
    
}

.pagination span {
    border: 1px solid #ddd;
}
.pagination span {
    margin: 0 5px 0 0;
    
    border-radius: 4px;
}

.pagination a, .pagination span {
   
    border-radius: 4px;
}

.desabilitado{
    
}

#main-content .pagination {
    text-align: left;
}

.pagination .current {
    background: #469400 url('/images/admin/bg-button-green.gif') top left repeat-x !important;
    border-color: #459300 !important;
    color: #fff !important;
    border-radius: 4px;
    
}

div.pagination > span.next, div.pagination > span, div.pagination > span.current, div.pagination > span.desabilitado
{
    padding: 5px;
}

div.pagination > span.desabilitado
{
    color: #c2c2c2;
}

#name_user{	
	width: 470px;
	height: 40px;
	text-align: right;
	vertical-align: middle;
	display: table-cell;
	}
#name_user a{
	color: #777;
	margin-right: 10px;
	}
.overload {	
	width: 100%;
	height: 110%;
	position: absolute;
	background-color: #000;
	margin-top: -60px;
	opacity: 0.5;
	z-index: 9992;
}

#popup{
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	z-index: 9999;
	
}

#popup_content{
	display: table-cell;
	vertical-align: middle;	
}

#content{
	margin: 0 auto;
	width: 360px;
    background-color: #fff;
    height: 100px;
    text-align: center;
    z-index: 9999;
}
.content-box{
	clear: both;
	border: 1px solid #ccc;
	margin: 0 0 20px 0;
	background: #fff;
	margin-left: 30px;
}

.content-box-header h3 {
	padding: 12px 15px 10px;
	float: left;
	margin-top : -10px !important;

}

.content-box-content {
	padding: 10px;
	font-size: 13px;
	border-top: 1px solid #ccc;
}

.content-box-header {
background: #e5e5e5 url('assets/admin/bg-content-box.gif') top left repeat-x;
margin-top: 1px;
height: 40px;
}

div.control-group label.control_label_css{
	text-align: left;
}
	
div.control-group a.btn_danger_small{
	margin-left: 10px;
}
	
.control_label_c{
	margin-top: 20px;
	margin-bottom: 30px;
}

.google-visualization-orgchart-table{
	border-collapse: inherit !important;	
}

h3{
	font-family:Helvetica !important;
	
}

h2{
	font-family: Helvetica !important;
	
}

div#establishment > .right {
    width: 30%;
}
div#establishment > .middle {
    width: 30%;
}
div#establishment > .left {
    width: 30%;
}
div#establishment div {
    float: left;
}
div#establishment > div > input {
    float: left;
    margin-right: 10px;
}
div#name_research{  
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;    
}

div.questions{
    display:table;
    border: 1px solid #cdcdcd;
    margin: 10px auto;
    padding: 10px;
}

div.questions div.barra_progressao{
    float:left;
}

div#busca_pesquisa{
    margin-left: 30px;
    padding: 2px;
    width: 1170px;
    display: table;
}

div#busca_pesquisa label#search_name_id{
    float:left;
    margin: auto;
    margin-right: 10px;
    margin-top: 3px;
}

div#busca_pesquisa input#search_name{
    margin: auto;
}

#facebox .research {
    width: 100%;
    padding: 0;
}

#facebox .close{
    top: 0 !important;
}

#facebox .tree_viewer {    
    padding: 0;
}

.overload_tree_viewer {
    position: absolute;
    height: 110%;
    width: 100%;
    background-color: #c2c2c2;
    opacity: 0.5;
    margin-top: -60px;
}

#popup_tree_viewer {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#popup_content_tree_viewer {
    display: table-cell;
    vertical-align: middle;
}

#content_tree_viewer {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    border: 3px solid rgba(0,0,0,0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 18px rgba(0,0,0,0.4);
    box-shadow: 0 0 18px rgba(0,0,0,0.4);
    
}

#facebox .more_question {
    width: 290px !important;
    padding: 0;
}

#more_question_content{
    padding: 20px;
    text-align: center;
}

div#facebox div.evaluate_answers{
    width: auto;
    max-width: 600px;
    min-width: 370px;
    
}
div#facebox .answer_comment{
    text-align: center !important;
}

.column-left {
    float: left;
    margin-right: 10px;
}

.column-right {
    float: left;
    margin-right: 10px;
}

[class*="span"] {
margin-left: 0px;
}

.row {
margin-left: 0;
}

.navbar-fixed-top .container {
    width /*\**/: 1200px\9;
    *width: 1200px;
    _width: 1200px;
}

body {
padding-top: 60px;
padding-bottom: 40px;
}
.navbar-inner{
    background-color: #ed1b24;
    background-image: none !important;
    border: none !important;
}
.navbar .nav>li>a{
    color: #fff !important;
    text-shadow: none !important;
}

.navbar {
    color: #fff !important;
    text-shadow: none !important;
}

.navbar .divider-vertical{
    border-right: none !important; 
    border-left: none !important;
}

.menu{
    width: 1340px !important;
}

li {
    line-height: 32px !important;
}

.navbar .nav {          
    margin: 0px !important;
    width: 90% !important;
}

.right{
    float:right !important;
}

.sessao{
    background-color: transparent !important;
    padding: 0 10px 0 0px !important;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled], .btn-success, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], .btn-danger,.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled]{
    background-color: #ed1b24 !important;
    background-image: none !important;
    border-radius: 0;
    border: none;
}

.container{
    width: 1156px;
}

div.questions{
    background-color: #ececec;
    border: none;
    padding: 0px;
    width: 1000px;
}

.color{
    color: #fff;
}

.alert{
    width: 1156px;
    margin: 0 auto;
    color: #6d6f71;
    font-weight: bold;
    background-color: #e2e2e2;
    border: none !important;
}

.btn-search, .btn-search:hover, .btn-search:active, .btn-search.active, .btn-search.disabled, .btn-search[disabled]{
    background-image: url(../../assets/lupa.png) !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 5px 19px;
}

.pagination a{
    color: #000 !important;
}

.pagination .current{
    background: #817f80 !important;
    border-color: #817f80 !important;
}

.ul_block{
    display:block !important;
    position :absolute !important;
}

ul.ul_block li{
    background-color: #ED1B24;
    float: none !important;
    margin-left: 395px;
    width: 15%;
}
#button_select{
    margin-bottom: 10px
}

.classes_check{
    margin-bottom: 10px;
    max-height: 360px;
    overflow: auto;
}

div.classes_check input{
    margin-top: -3px !important;
    margin-right: 5px;
}

p.alert-notice div.client_validate{
	float:right !important;
}

.div_select_grades{
	 float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
}

.emotion{
    float:left;
    margin-right: 10px !important; 
}

#campo_answers{
    display: table;
}

.btn-search{
    margin-top: 26px;
}
}