@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold_0-webfont.eot');
    src: url('fonts/roboto-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold_0-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold_0-webfont.woff') format('woff'),
         url('fonts/roboto-bold_0-webfont.ttf') format('truetype'),
         url('fonts/roboto-bold_0-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light_0-webfont.eot');
    src: url('fonts/roboto-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light_0-webfont.woff2') format('woff2'),
         url('fonts/roboto-light_0-webfont.woff') format('woff'),
         url('fonts/roboto-light_0-webfont.ttf') format('truetype'),
         url('fonts/roboto-light_0-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium_0-webfont.eot');
    src: url('fonts/roboto-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-medium_0-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium_0-webfont.woff') format('woff'),
         url('fonts/roboto-medium_0-webfont.ttf') format('truetype'),
         url('fonts/roboto-medium_0-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body 
{
    
    font-size: 0.8em;
    font-family: robotolight;
}


.label {
   background-color: transparent;
    color: #000;
    float: left;
    width: 25%;
    text-align: right;
    vertical-align: middle;
    line-height: 1.1em;
    font-size: 1em;
    text-shadow: 0 0 0 transparent;
    white-space: initial;
    font-weight: 100;
    margin: 20px 10px 0 0;
}

.user_pass .label {
    margin: 10px 10px 0 0;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 65%;
    margin: 4px 0;
}

.input.select {
    width: 65%;
    float: left;
}

.margin-mobile{
    margin: 20px 0;
}

.image_use {
    display: none;
}

.content-message {
margin: 0 0 0 5.5%;
position: relative;
bottom: 15px;
}

.message {
margin: 0 14px;
font-family: robotobold;
font-size: 1em;
color: #000;
}

form .error {
color: #bc0000;
margin: 0 0 0 31%;
word-wrap: break-word;
}

.introduction {
color: #d90305;
}

#radios
{
    width: 65%;
    margin: 30px 0;
    display: table;
}
.radios
{
    width: 27px;
    height: 27px;
    background-image: url(/app/webroot/img/circulo_choice.png);
    background-repeat: no-repeat;
    float: left;
    margin: 15px 0;
}

.radio-select
{
    background-image: url(/app/webroot/img/circulo_choice_2.png) !important;
}

.radio-text
{
    height: 27px;
    float: left;
    margin: 15px 5px;
    line-height: 27px;
    cursor: default;
}

#checks
{
    width: 100%;
    height: 34px;
}

.checks
{
    width: 27px;
    height: 28px;
    background-image: url(/app/webroot/img/quadrado_check.png);
    background-repeat: no-repeat;
    float: left;
}

.check-select
{
    background-image: url(/app/webroot/img/quadrado_check_2.png) !important;
}

.check-text
{
    height: 28px;
    float: left;
    margin: 0 5px;
    line-height: 28px;
    cursor: default;
}

.header .text {
    display: table;
    width: 65%;
    height: 100px;
}

.header_text {
    display: table-cell;
    vertical-align: middle;
}

.header_text2 {
    margin: 0 20px;
}

.close-botton {
    display: none;
}

.header .image {
    float: left;
}

.content {
    padding: 0;
    /*margin: 14px 0;*/
}

form{
    margin: 0;
}

.form {
    padding-bottom: 20px;
}

.midle {
    margin-bottom: 20px !important;
}

.text-main {
    margin: 0 0 15px 0;
}

.midle, .form {
margin: 0 15px 0 5.5%;
}

.submit {
width: 270px;
height: 50px;
margin: 0 auto;
}

input#save_id {
width: 100%;
height: 50px;
background-color: #bfbfbf;
color: #e8eae7;
font-size: 1.5em;
border: none;
}

input.input {
background-color: #e9e9e9;
border: 1px solid;
}

.save_id_enable
{
    background-color: #da0203 !important;
}

span.pre-cadastro {
    font-size: 2em;
    color: #fff;
}

#header-mobile{
    background-image: url(/app/webroot/img/bg_paper_topo.png);
width: 100%;
height: 32px;
background-repeat: no-repeat;
background-size: 100% 100%;
}

#footer-mobile{
    background-image: url(/app/webroot/img/bg_paper_base.png);
    width: 100%;
height: 32px;
background-repeat: no-repeat;
background-size: 100% 100%;
}

.all
{
    background-image: url(/app/webroot/img/bg_paper_meio.png);
background-size: 100% auto;

}

.introduction {
margin: 0 15px;
}

.header {
background-color: #454545;
margin: 0 0 0 5.5%;
height: 100px;
}

.content-header {
position: relative;
bottom: 32px;
}

.image_3 {
margin: 0 0 0 15px;
}

.image_2 {
display: table-cell;
vertical-align: middle;
}

.header .image {
float: left;
display: table;
height: 100px;
}

#pop{
    position: absolute;
    top: 0;
    width: 100%;
    height: 554px;
    display: table;
}

#pop-second{
    display: table-cell; 
    vertical-align: middle;
}

#pop-content{
    width: 300px; 
    margin: 0 auto; 
    height: 165px; 
    background-color: #e9e9e9; 
    box-shadow: -4px 6px 8px rgba(0,0,0,0.27); 
    border: 1px solid #E0E0E0;  
}

#pop-content #text-main{
    line-height: 43px; 
    text-align: center; 
    color:#484848;
    margin: 22px 0 0 0; 
    font-weight: bold;
}

#pop-content #text-second{
    text-align: center; 
    margin: 0 0 20px 0; 
    font-weight: bold; 
    color: #484848; 
    font-size: 0.8em;
}

#pop-content #botao-ok{
    width: 150px; 
    margin: 0 auto; 
    height: 40px; 
    text-align: center; 
    background-color: #d90303; 
    line-height: 40px; 
    color: #fff; 
    font-size: 1.75em;
}