@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold_0-webfont.eot');
    src: url('fonts/roboto-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold_0-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold_0-webfont.woff') format('woff'),
         url('fonts/roboto-bold_0-webfont.ttf') format('truetype'),
         url('fonts/roboto-bold_0-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light_0-webfont.eot');
    src: url('fonts/roboto-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light_0-webfont.woff2') format('woff2'),
         url('fonts/roboto-light_0-webfont.woff') format('woff'),
         url('fonts/roboto-light_0-webfont.ttf') format('truetype'),
         url('fonts/roboto-light_0-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium_0-webfont.eot');
    src: url('fonts/roboto-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-medium_0-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium_0-webfont.woff') format('woff'),
         url('fonts/roboto-medium_0-webfont.ttf') format('truetype'),
         url('fonts/roboto-medium_0-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


body 
{
    background-color: transparent;
    font-size: 14px;
    font-family: robotolight;
}

.all
{
    width: 862px;
    height: 720px;    
    background-image: url(/40st-backoffice/app/webroot/img/bg_papel.png);
}
.header
{
    background-color: #454545;
    color: #e9e9e9;
    width: 814px;
    height: 89px;
    margin: 4px 12px 0px 0;
    float: right;    
}

.content-header 
{
    display: table;
    width: 862px;
}

.wrap 
{
    width: 815px;
    float: right;
    margin: 0 12px 0 0;
}

.introduction
{
    color: #d90305;
    
}

.name
{
    float: left;
}

.form
{
    margin: 26px 0 0 0;
}

.save_id_enable
{
    background-color: #da0203 !important;
}

#save_id 
{
    background-color: #bfbfbf;
    width: 300px;
    height: 40px;
    margin: 0 0 0 132px;
    color: #e8eae7;
    border: none;
    font-size: x-large;
	position: relative;
	top: -50px;
}

input.input
{
    background-color: #e9e9e9;
    border: 1px solid;
    height: 30px;
    border-radius: 3px;
    padding: 0 1px;
}

.input-select
{
    background-color: #e9e9e9;
    height: 40px;
    border-radius: 3px;
}

label
{
    margin: 0 5px;
}
    
.user_from
{
    display: table;
}

.teste
{
    width: 100%;
}

.image
{
    display: table;
    height: 100%;
    float: left;
    margin: 0 30px 45px 45px;
    width: 8%;
}

.image_2
{
    display: table-cell; vertical-align: middle;
}

.text
{
    display: table;
    height: 100%;
    width: 82%;
}
.header_text
{
    display: table-cell; vertical-align: middle;
    font-size: 30px;
}

.help_image
{
    width: 447px;
    float: left;
    display: table;
}

.content 
{
    display: table;
    margin: 0 auto;
    width: 700px;
}

.margin
{
    margin: 15px 0;
    height: 35px;
}

.select
{
    float: left;
}

.label
{
    float: left;
    width: 110px;
    text-align: right;
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
}

.label-rigth
{
    width: 80px;
}

.state-rigth
{
    width: 40px;
}

.input-medium 
{
    width: 300px;
}

.input-large 
{
    width: 562px;
}

.input-small 
{
    width: 230px;
}

.select-small 
{
    width: 121px;
}

.image_use
{
    float: right;
    height: 358px;
    position: relative;
    width: 247px;
}

.image_use img
{
    height: 340px;
    position: absolute;
    bottom: 0;
}

.content-message
{
    width: 814px;
    float: right;
    margin: 0 12px 0 0px;
    height: 28px;
}

.message
{
    width: 700px;
    margin: 0 auto;
    font-family: robotobold;
    font-size: 15px;
    color: #000;
    line-height: 30px;
    height: 30px;
}

#radios
{
    width: 100%;
    height: 34px;
}
.radios
{
    width: 27px;
    height: 27px;
    background-image: url(/40st-backoffice/app/webroot/img/circulo_choice.png);
    background-repeat: no-repeat;
    float: left;
}

.radio-select
{
    background-image: url(/40st-backoffice/app/webroot/img/circulo_choice_2.png) !important;
}

.radio-text
{
    height: 27px;
    float: left;
    margin: 0 5px;
    line-height: 27px;
    cursor: default;
}

#checks
{
    width: 100%;
    height: 34px;
}

.checks
{
    width: 27px;
    height: 28px;
    background-image: url(/40st-backoffice/app/webroot/img/quadrado_check.png);
    background-repeat: no-repeat;
    float: left;
}

.check-select
{
    background-image: url(/40st-backoffice/app/webroot/img/quadrado_check_2.png) !important;
}

.check-text
{
    height: 28px;
    float: left;
    margin: 0 5px;
    line-height: 28px;
    cursor: default;
}

.introduction .text-main
{
    margin: 0 0 13px 0; 
}

.pre-cadastro
{
    float: left; 
}

.close-botton
{
     float: right; margin: 0 45px;
}

.error
{
    display: block;
    color: red;
    font-size: 12px;
    margin-left: 138px;
}

#pop{
    position: absolute; 
    top: 0; 
    width: 100%; 
    height: 554px; 
}

#pop-second{
    display: table-cell; 
    vertical-align: middle;
}

#pop-content{
    width: 400px; 
    margin: 0 auto; 
    height: 165px; 
    background-color: #e9e9e9; 
    box-shadow: -4px 6px 8px rgba(0,0,0,0.27); 
    border: 1px solid #E0E0E0;  
}

#pop-content #text-main{
    line-height: 43px; 
    text-align: center; 
    color:#484848;
    margin: 22px 0 0 0; 
    font-weight: bold;
}

#pop-content #text-second{
    text-align: center; 
    margin: 0 0 20px 0; 
    font-weight: bold; 
    color: #484848; 
    font-size: 12px;
}

#pop-content #botao-ok{
    width: 150px; 
    margin: 0 auto; 
    height: 40px; 
    text-align: center; 
    background-color: #d90303; 
    line-height: 40px; 
    color: #fff; 
    font-size: 23px; 
}
