﻿@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

/* Geral */

body {		
	font-family: 'Dosis', sans-serif; 
	font-size: 15px;
	font-weight:500;
	color:#000;	
	background:url(/assets/bg.jpg) repeat;
}

.both {clear:both;}

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }.bullets {
	color: #ffd503;
}


a {
	color:#FC0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


h1{
	font-weight: 500; font-size:18px; height:29px; color:#FC0; 
	padding:4px 0 0 10px; background:#2a2a2a url(/assets/h1.jpg) no-repeat right;
}

h2{
	font-weight: 600; font-size:24px; color:#000; 
	
}

h3{
	font-weight:800; font-size:44px; color:#c2c2c2;
	text-align:right; display:block;
	width:150px; float:left; 
	
}

h4{
	font-weight: 600; font-size:16px; color:#000; 
	
}

h5{
	font-weight: 700; font-size:16px; color:#ffd503; 
	
}



hr {
   height: 0px;
   border: none;
   border-top: 1px solid #b4b4b4;
   border-bottom: 1px solid #fff;
   width:100%;
	

	
}


/* menu login e menu horizontal*/

#login {
	background:url(/assets/bg-login.jpg) repeat;
	margin:0px auto; display:block; width:100%; height:60px;
	float:left;
}

.arealogin {
	margin:0px auto; padding:20px; width:900px; height:auto; color:#fff; float:right; font-size: 14px;
	}
	
.arealogin a {
	color:#FFF;
	text-decoration: underline;
}
.arealogin a:hover {
	color:#999;
	text-decoration: underline;
}

.subm {outline:none;}

#inputs input {
		  background: #2a2a2a;
		  padding: 6px 5px;
		  margin: 0 0 5px 0;
		  width: 100px;
		  border: 1px solid #000;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  -moz-box-shadow: 0 1px 1px #000 inset;
		  -webkit-box-shadow: 0 1px 1px #000 inset;
		  box-shadow: 0 1px 1px #000 inset;
		  color:#808080;
		}
		
		#inputs input:focus {
		  background-color: #000;
		  border-color: #000;
		  outline: none;
		  -moz-box-shadow: 0 0 0 1px #000 inset;
		  -webkit-box-shadow: 0 0 0 1px #000 inset;
		  box-shadow: 0 0 0 1px #000 inset;
		  color:#808080;
		}
		
		
		
		


/* menu login e menu horizontal*/


.input1 {
		  background: #fff;
		  padding:8px;
		  margin:5px;
		  border:0;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  -moz-box-shadow: 0 1px 1px #999 inset;
		  -webkit-box-shadow: 0 1px 1px #999 inset;
		  box-shadow: 0 1px 1px #999 inset;
		  color:#111;
		  outline: none;
		  width:90%;
		  
		}
		
.input1:focus {
		  background: #ffd503;
		  outline: none;
		}
			
			
.input2 {
		  background: #fff;
		  padding:8px;
		  margin:5px;
		  border:0;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  -moz-box-shadow: 0 1px 1px #999 inset;
		  -webkit-box-shadow: 0 1px 1px #999 inset;
		  box-shadow: 0 1px 1px #999 inset;
		  color:#111;
		  outline: none;
		  width:8%;
		  
		}
		
.input2:focus {
		  background: #ffd503;
		  outline: none;
		}
			
			
.input3 {
		  background: #fff;
		  padding:8px;
		  margin:5px;
		  border:0;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  -moz-box-shadow: 0 1px 1px #999 inset;
		  -webkit-box-shadow: 0 1px 1px #999 inset;
		  box-shadow: 0 1px 1px #999 inset;
		  color:#111;
		  outline: none;
		  width:73%;
		  
		}
		
.input3:focus {
		  background: #ffd503;
		  outline: none;
		}
		
.input4 {
		  background: #fff;
		  padding:8px;
		  margin:5px;
		  border:0;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  -moz-box-shadow: 0 1px 1px #999 inset;
		  -webkit-box-shadow: 0 1px 1px #999 inset;
		  box-shadow: 0 1px 1px #999 inset;
		  color:#111;
		  outline: none;
		  width:93%;
		  height:205px;
		  
		}
		
.input4:focus {
		  background: #ffd503;
		  outline: none;
		}

.input5 {
		  background: #fff;
		  padding:8px;
		  margin:5px;
		  border:0;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  color:#111;
		  width:98%;
		 
		  
		  
		}
		

.enviarcont {
		  background: #fff;
		  width:80%;
		  border:0; margin:5px;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  -moz-box-shadow: 0 1px 1px #999 inset;
		  -webkit-box-shadow: 0 1px 1px #999 inset;
		  box-shadow: 0 1px 1px #999 inset;
		  color:#111;
		  outline: none;
		  width:88%;
		  
		}
		

		
/* formulário de contato*/

#formulariocontato {
	font-weight:700; color:#6a6b6b;}
	

#form1 {
   float:left; width:315px; 
   padding:0 10px 0 0;
  
   
   
}

#form2 {
	float:right; width:315px; 
	padding:0 0 0 10px;
	
}

		
/* início menu */

#menu {
	
	width:100%; 
	height:44px; 
	position:relative;
	margin:0px auto;
	float: left;
	width: 100%;
	background:url(/assets/bg_menu.png);
	display: block;
	border-top: 1px solid #464646;
	
}

#menu ul {

list-style: none;
margin: 0px auto;
height: 44px;
width: 820px;

}

#menu ul li { float: left; border-right: 1px solid #464646; 

}

#menu li a {
	font-weight:400; font-size: 16px; color:#ffdf00; padding:0 20px 0 20px; line-height: 35px; display:block;
	
}

#menu li a:hover {
	text-decoration: none; color:#fff; background:url(/assets/bg_menu_hover.png);
	
}

#lingua {
	float:left; padding:10px; 0 0 0; 
}

#lingua a {
	filter:alpha(opacity=40);
	-moz-opacity:0.40;
	opacity:0.40;
	background:none;
	
}

#lingua a:hover {
	filter:alpha(opacity=100);
    -moz-opacity:1.0;
    opacity:1.0;
	
}

/* Estrutura*/

#main {	
	
	width: 700px;
	margin: 0 auto;
	}

#header {
	text-align:center; height: auto;}


#slide {
	width: 700px;
	margin: 0 auto;
	
	}
	
.slide_total {margin: 0 auto; text-align:center; width:700px; height:auto;}

.slide_top{
	
	background:url(/assets/topo_slide.png) no-repeat;
	width:700px; height:38px;
	
	}
	
.slide_meio {
	background:url(/assets/meio_slide.png) repeat-y; 
	
	}
	
.slide_fim {
	background:url(/assets/fim_slide.png) no-repeat;
	width:700px; height:53px;
}

#cont_geral {
	width:680px; 
	background-color:#e8e8e8;
	float:left; padding:10px;
	margin:0 0 30px 0;
	
}


#cont_geral .img {
	float:left; width:200px; margin:0 20px 0 0; padding:4px; 
	}

#cont_geral .text {
		float:left; width:440px; padding:4px;
	}
	
	
	
#colunas {	
	width:680px; 
	float:left; padding:10px;
	}
	
	
#colunas  .cont_col_1 {
	float:left; width:320px; padding:10px; background-color:#e8e8e8; margin: 0 0 0 -14px;	}

#colunas  .cont_col_2 {
	float:left; width:320px; padding:10px;background-color:#e8e8e8;margin: 0 -14px 0 20px;
	}
	

/* internas*/

#breadcrumb {
	color:#757575;
	padding:10px;
	font-weight:200; 
	font-size:16px;
	text-align:right;
	margin:0px auto;
	display:block;
	width:100%;
	}

#breadcrumb a {
	color:#757575;
	text-decoration: none;
}
#breadcrumb a:hover {
	text-decoration: underline;
}





#main2 {	
	width: 700px;
	margin: 0 0 30px 0;
	float:left;
	background-color:#e8e8e8;
	display:table;
	
	}

#main2_top {
	background:url(/assets/content-in.png);
	width:700px; height:37px; margin:0px auto;
	
	}
	

#text_int {	
	width:478px;
	height:auto;
	float:right;
	padding:0 20px 20px 0;

		
}


#text_int2 {	
	width:680px;
	height:auto;
	float:left;
	padding:10px;
	margin:30px 0 20px 0;	

		
}


#text_int3 {	
color:#6a6b6b;
	width:460px;
	height:auto;
	float:left;
	padding:0 0 0 20px;

		
}




#text_int_full {	
	width:650px;
	height:auto;
	float:left;
	margin:0 30px 20px 20px;
	
}

.textendereco a {
	color:#6a6b6b; font-weight:600; color:#6a6b6b;
	text-decoration: none; font-size:13px;
}
.textendereco a:hover {
	text-decoration: underline;
}


#text_int_full .coluna1 {
   float:left; width:310px; 
   border-right: 1px solid #b4b4b4;
   padding:0 9px 0 0;
   
   
}

#text_int_full .coluna2 {
	float:right; width:310px; 
	border-left: 1px solid #fff;
	padding:0 0 0 19px;
}









#text_int_full .textendereco {font-weight:400; color:#6a6b6b;}

#text_int_full .campobrigatorio {font-weight:700; font-size:14px; color:#6a6b6b;}


#dropdown{
	width:150px; float:left; margin:0px auto;
	
}

select {
	     
		  width:100%;
}


		
/*menu interno*/


#menulat {
	float:left;
	width:190px; 
	height:auto;
	z-index:999;
	overflow: hidden;
	margin: 81px 0 0 -13px;
	position:absolute;
}
	
	
.menulat_in_top{
	
	background:url(/assets/menulat_top.png) no-repeat;
	width:190px; height:11px;
	
	}
	
.menulat_in_meio{	
	background:#2a2a2a;
	width:190px; 

}

.menulat_in_fim{	
	background:url(/assets/menulat_base.png) no-repeat;
	width:190px; height:7px;
}

.menuvertical {
margin: 0 0 0 10px;
width: 180px;
height: auto;
z-index:1;
position:relative;


}

.menuvertical li{list-style: none;}

.menuvertical a {
font-size:14px;
display: block;
text-decoration: none;
font-weight: 400;
color: #fff;
border-top:1px solid #000;
border-bottom:1px solid #6a6a6a;
padding: 5px 0 5px 5px;

}

.menuvertical a:hover{
background-color: #505050;
border-left:4px solid #ffd503;
border-bottom:1px solid #505050;
border-top:1px solid #505050;
text-decoration: none;
padding: 5px 0 5px 5px;



}

/*accordion*/

.accordion {
	width: 100%;
	margin: 1em 0em;
}

.accordion h5 {
	background: url(/assets/plus.png) no-repeat right center #2a2a2a;
    color:#ffd503;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 0 !important;
    padding: 0.5em 1em;

}

.accordion p {
	font-size: 1.2em;
	line-height: 1.4em;
	padding: 10px;
	color:#000;
}

.accordion h5.active {
	color:#000;
	background: url(/assets/delete.png) no-repeat right center #ffd503;
}


.accordion h5:hover {
	
	
	cursor: pointer;
}

.accordion div {
	padding:30px 20px 30px 20px;
	background-color:#fff;
	color:#000;
}

	
/* footer */
	
	
#footer1 {
	padding:0px;
	margin:0px auto;
	float: left;
	width: 100%;
	height:76px;
	background:url(/assets/credito_1_footer.png);
	list-style:none;
	display: block;}

#footer1 .cred1 {
	font-size: 16px; text-align:center; color:#CCC; padding:20px 0 0 0;
	}
	
#footer2 {
	padding:0px;
	margin:0px auto;
	float: left;
	width: 100%;
	height:71px;
	background:url(/assets/bg-login.jpg);
	list-style:none;
	display: block;
	text-align:center;
	border-bottom:3px solid #505050;}
	
#footer3 {
	padding:0px;
	margin:0px auto;
	float: left;
	width: 100%;
	height:50px;
	background-color:#1e1e1e;
	list-style:none;
	display: block;
	text-align:center;}
	
#footer3 .cred2 {
	text-align:center; color:#808080; padding:15px; font-size: 15px;
	}
	
	
	
/* Galeria Interna (Orbit) */
	
#inter-slide {
	width: 389px;
	margin: 0 auto;
}
.inter-slide_total {margin: 0 auto; text-align:center; width:389px; height:auto;}
.inter-slide_top{
	background:url(/assets/topo_slide.png) no-repeat;
	width:389px; height:38px;
}
.inter-slide_meio {
	background:url(/assets/meio_slide.png) repeat-y; 
}
.inter-slide_fim {
	background:url(/assets/fim_slide.png) no-repeat;
	width:389px; height:53px;
}
#inter-slide .orbit-bullets li {
	display: none;
}

.image-total{
	width: 620px !important;  
}

.pagination span {
border: 1px solid #ddd;
}

.pagination span {
margin: 0 5px 0 0;
padding: 3px 6px;
}