svg {
  /*border: 1px solid #999;*/ 
}

#content-tree-viewer{
    position: relative;
    left: 0;
    margin: 10px; 
    width: 100%; 
    height: 100%; 
    overflow: auto;
    
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

/*#content-tree-viewer rect {
  fill: #fff;
}*/

.question rect {
  stroke-width: 2px;
  stroke: #82afbf;
  fill: #fff;
}

.answer_node rect {
  stroke-width: 2px;
  stroke: #c2c2c2;
  fill: #fff;
}

.answer_bond_node rect {
  stroke-width: 2px;
  stroke: #c2c2c2;
  fill: #fff;
}

div.answer_bond{
    background-color: #c2c2c2;
}
div.new_answer_bond{
    background-color: #51a37f;
    border-radius: 5px;
}

.edge rect {
  fill: #fff;
}

.edge path {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.question{
   
    
}
.description_question{
    color: #000000;
    white-space: normal;
    display: block;
    width: 250px;
    padding: 5px;
    text-align: center;
    font-weight: 100;
}

.question .description_question{
     cursor:default;
}

.answer{
    
}

.description_answer{
    color: #000000;
    white-space: normal;
    display: block;    
    padding: 5px;
    max-width: 100px;
    text-align: center;
    font-weight: 100;
    cursor: pointer;
}

.answer .description_answer{
    cursor:pointer;
}

.answer_bond .description_answer{
    cursor:default;
}
svg .action{
  width: 250px;
  height: 15px;
  padding: 0 5px 5px 5px;  
}

svg .action a{
  float: right;
  margin-right: 5px;
}

.answer_not_bond{
    background-color:red;
    border-radius:5px
}
