    <script type="text/javascript">

 function teste(id)

 {

     $.ajax({
            type:"POST",
            url:"http://localhost:8080/40st-backoffice/index.php/reports/teste",
            dataType: "json",
            data:"ajax=1",
            success:function(response){
                    alert("ddddd");
                }
        });

    //alert(id);
 }

    </script>

 <div class="row">   
    
        <div class="span12 sessao">
        </div>
                            

  <div class="span12">



           
    <table class="table" >

            <thead>
               <tr>
               
                <th  style="width:200px">Deunciado</th>
                <th  style="width:200px">Quem Denunciou</th>
                <th  style="width:150px">Tipo de Denuncia</th>
                <th  style="width:400px">Descrição</th>
                <th  style="width:200px">Criado em<th>
                
              
               </tr>
            
             </thead>

        </tbody

            <?php foreach ($reports as $report): ?>
            <tr>
            <?php echo $report['User']['situation']; ?>
            <td ><?php echo $report['People']['name']?></td>
            <td ><?php echo $report['User']['name']?></td>
            <td ><?php echo $report['Optreports']['report']?></td>
            <td ><div style="witdh:20%; word-break: break-all;"><?php echo $report['Report']['description']?></div></td>
            <td><?php echo date('d/m/Y h:i:s', $timestamp = (strtotime($report['Report']['created'])))?></td>
            <td><?php echo $this->Html->link('Bloquear', array
                                                            ('controller' => 'reports',
                                                             'action' => 'teste', 
                                                             'id' => $report['User']['id'],
                                                             'situation' => $report['User']['situation']));?></td>
            <td><?php echo $this->Html->link('Desbloquear', array(''))?></td>
            <td><?php echo $this->Html->link('Retirar', array( 'action' => 'delete', $report['Report']['id']))?>
            </td>

           <!-- <td><?php echo $this->Form->button('Retirar', array('type'=>'button', 'id' => 'retirar_'.$report['Report']['id'], 'onclick' => "teste(".$report['Report']['id'].")"));?> --> 
           
            </tr>
            <?php endforeach; ?>

        </tbody>
            
    </table>

   </div>

</div>
