
<div id="login-wrapper" class="png_bg">
  <div id="login-top">
   <!-- <%#= image_tag("admin/logo.png") %> -->
  </div>
  
  
  	


<?php echo $this->Form->create('Admin');?>
	 	  
	  <div class="control-group">
	    <label class="control-label" for="user_login">Login</label>
	    <div class="controls">
	         <?php echo $this->Form->input('username', array('label' => '')); ?>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="user_password">Senha</label>
	    <div class="controls">
	      <?php echo $this->Form->input('password', array('label' => ''));?>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	     
	    
	    </div>
	  </div>
<?php echo $this->Form->end(__('Login'));?>
 




